* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */

.container-header {
  width: 100%;
  background-color: #F8F9FA;
  text-align: center;
}

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* main */

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.container-main {
  width: 40%;
}

/* bottoni */

.container-buttons {
  margin-top: 60px;
  margin-bottom: 50px;
}

button {
  background-color: #0D6EFD;
  color: white;
  border-radius: 5px;
  border: none;
  margin-left: 20px;
}

h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

/* card */

.card {
  width: 100%;
  padding: 20px;
  border: 1px solid lightgray;
  margin-top: 20px;
  border-radius: 10px;
}

h2 {
  margin-top: 5px;
  margin-bottom: 10px;
}

p {
  font-size: large;
  color: gray;
}